/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/user_server_php/vendor
/social_server_php/vendor
/user_server_php/vendor/.idea
/social_server_php/vendor/.idea
*.zip
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/tmp
supervisord.pid
supervisord.log
.idea
.idea/*
/xdebug/profiling